<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>连连看</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="js/lib/jquery.min.js"></script>
	<script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/lib/vue.js"></script>
	<script type="text/javascript" src="js/lib/FileSaver.min.js"></script>
	<script type="text/javascript" src="js/app/index.js"></script>
	<script type="text/javascript" src="js/base.js"></script>
</head>
<body>

<div id="all">

<div class="container complie">
	<form>
		<div class="form-group">
			<label>题干 ( <span id="fontNum">0</span> /3000 )</label>
			<textarea v-model="infoObj.title" id="topic" @input="textFun" class="form-control" placeholder="将相对应的选项连接起来"></textarea>
		</div>
		<div class="form-group form-set">
            <div class="mid">
                <label>选项 ( <span id="fontNum">{{ infoObj.num }}</span> /10 )</label>
                <span>
                    <input type="checkbox" class="show-c" name="" value="">
                    <i class="show-i"></i>默认不呈现内容
                </span>
            </div>
			
			<div class="row set">
				
                <child v-for="n in infoObj.num" :nums="n"  v-on:remove="removeFun(n)"></child>
                <div class="add">
                    <div class="add-box"  @click="addFun">
                    <span>增加选项</span>
                    </div>
                </div>
              <div class="error-txt">图片格式不正确，请重新添加图片</div>
			</div>
            
                
            
		</div>
        <div class="floor-btn">
            <button type="button" class="btn btn-primary btn-prev">预览</button>
            <button type="button" class="btn btn-primary btn-save">保存</button>
        </div>
	</form>
</div>


</div>


<template id="tem">
	<div class="com">
        <div class="num" v-if="nums < 10">0{{ nums }}</div>
		<div class="num" v-else>{{ nums }}</div>
		<div class="box">
			<div class="box-font">
                <div class="box-txt" contenteditable="true" placeholder="请输入文字"></div>
                <div class="font-img">
                    <input type="file" class="box-file" accept="image/*" title="点击添加图片">
                </div>
            </div>
			
			<div class="box-img">
                <span class="box-rep"></span>
                <input type="file" class="box-file" accept="image/*" title="点击替换图片" name="" value="" placeholder="">
                <img src="" alt="">
            </div>
            <div class="b-txt">(<span>0</span>/10)</div>
		</div>
		<div class="h-xian"></div>
		<div class="box">
            <div class="box-font">
                <div class="box-txt" contenteditable="true" placeholder="请输入文字"></div>
                <div class="font-img">
                    <input type="file" class="box-file" accept="image/*" title="点击添加图片">
                </div>
            </div>
            
            <div class="box-img">
                <span class="box-rep"></span>
                <input type="file" class="box-file" accept="image/*" title="点击替换图片" name="" value="" placeholder="">
                <img src="" alt="">
            </div>
            <div class="b-txt">(<span>0</span>/10)</div>
        </div>
		<div class="box-x" v-on:click="remove"></div>
	</div>
</template>

	
</body>
</html>