<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>抽卡牌</title>
    <link rel="stylesheet" type="text/css" href="textEditor/css/spectrum.css">
    <link rel="stylesheet" type="text/css" href="textEditor/css/textEdit.css">
    <link rel="stylesheet" type="text/css" href="css/style_edit.css">
    <script type="text/javascript" src="js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="js/lib/vue.js"></script>
    <script type="text/javascript" src="js/lib/FileSaver.min.js"></script>
    <script type="text/javascript" src="textEditor/js/spectrum.js"></script>
    <script type="text/javascript" src="textEditor/js/textEdit.js"></script>
    <script type="text/javascript" src="js/app/edit.js"></script>
</head>
<body class="page1">
    <div id="all" class="home">
        <div class="tit">
            <input type="text" v-model="title" id="title" maxlength="200" value="" placeholder="抽卡牌">
            <div class="num">（{{title.length}}/200）</div>
        </div>

        <div class="main flex-row">
            <div class="box item" v-for="n in num" :style="'width:' + boxWidth + 'px;'" :data-index="n">
                <div class="img" title="点击替换图片">
                    <img src="">
                    <input type="file" class="add-file" accept="image/*">
                </div> 
                <div class="text">
                    <div class="inp-txt" contenteditable="true" placeholder="请输入文字"></div>
                </div>
                <div class="choose flex-column">
                    <div class="ft flex-row">
                        <div class="icon icon-text" title="点击添加文字"></div>
                        <div class="icon icon-img" title="点击添加图片">
                            <input type="file" class="add-file" accept="image/*">
                        </div>
                    </div>
                    <div class="p">点击图标添加元素</div>
                </div>
                <div class="close"></div>
            </div>
            <div class="box add-box flex-column" title="点击添加卡牌" @click="addNumFun" v-show="num < maxNum"  :style="'width:' + boxWidth + 'px;'">
                <div class="icon-add"></div>
                <p>添加</p>
                <div class="max">最多添加{{maxNum}}张</div>
            </div>
        </div>

        <div class="floor-btn flex-row">
            <div class="error-txt"></div>
            <button type="button" class="btn btn-prev" @click="prevFun">预览</button>
            <button type="button" class="btn btn-save" @click="saveFun">保存</button>
        </div>

        <!-- <div class="my-editor">
            <div class="bold ficon" editor-command="bold" title="加粗"><i class="iconfont">&#xe625;</i></div>
            <div class="italics ficon" editor-command="italics" title="斜体"><i class="iconfont">&#xec86;</i></div>
            <div class="underline ficon" editor-command="underline" title="下划线"><i class="iconfont">&#xec85;</i></div>
            <div class="throughline ficon" editor-command="throughline" title="中划线"><i class="iconfont">&#xe609;</i></div>
            <div class="size ficon" editor-command="size" title="字体大小">
                <i class="iconfont">&#xe676;</i>
                <div class="arrow"><i class="iconfont">&#xe6f5;</i></div>
                <div class="size-ul pop-ul">
                    <ul>
                        <li>小</li>
                        <li>中</li>
                        <li>大</li>
                        <li>特大</li>
                    </ul>
                </div>
            </div>
            <div class="color ficon" editor-command="color" title="字体颜色">
                <i class="iconfont">&#xe603;</i>
                <div class="arrow"><i class="iconfont">&#xe6f5;</i></div>
                <input id="choose-color" />
            </div>
        </div> -->
        <!-- <div><input id="choose-color1" /></div> -->
    </div>
</body>
</html>