body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }
html,body{ background: #fff; -webkit-font-smoothing: antialiased; -webkit-user-select: none;
 -moz-user-select: none; -ms-user-select: none; user-select: none;}

body {
	font-family: "微软雅黑";
    font-size: 14px;
    color: #333;
}


::-webkit-scrollbar { background: none; width: 8px; height: 8px; }

::-webkit-scrollbar-thumb { background: #8da2b6; border-radius: 4px; }

#all{
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.preview {
    width: 100%;
    height: 768px;
    padding: 0;
    overflow-y: auto;
}
.preview.scrollHidden::-webkit-scrollbar{width:0;}

.succ{
	position: absolute;
	width: 150px;
	height: 50px;
	background: #fff;
	border-radius: 5px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	display: none;
	text-align: center;
	line-height: 48px;
}

.main {
    width: 1024px;
    padding: 60px 40px;
    margin: 0 auto; 
    margin-bottom: 20px; 
}

.main .title {
	width: 100%;
	background: #1d9ea8;
	color: #fff;
	font-size: 28px;
	text-align: center;
	padding: 20px 10px;
	margin-bottom: 40px;
	border-radius: 5px;
	word-wrap: break-word;
}

.judge {
	text-align: center;
	vertical-align: middle;
	height: 413px;
	overflow: hidden;
}



.judge .jud-md {
	width: 50%;
	margin-bottom: 40px;
	padding: 0 15px;
	float: left;
}

.judge .jud-box {
	float: left;
	width: 140px;
	height: 97px;
	background: #69d5ff;
	font-size: 25px;
	vertical-align: middle;
	line-height: 90px;
	border-radius: 5px;
	border: 2px solid #fff;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.judge .jud-box p {
	-ms-word-break: break-word;
	word-break: break-word;
	line-height: 27px;
	padding: 4px 0px;
	display: inline-block;
	vertical-align: middle;
}

.judge .jud-box img {
	max-height: 100%;
	max-width: 100%;
	vertical-align: top;
	cursor: pointer;
}

.judge .jud-sym {
	float: left;
	width: 83px;
	height: 53px;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.3);
	border-bottom: 2px solid #c1c8ca;
	margin: 25px 30px;
	position: relative;
}

.judge .jud-sym span {
	display: inline-block;
	width: 34px;
	height: 31px;
	margin: 10px 0;
	background-image: url(../img/icon/bol.png);
	background-repeat: no-repeat;
	-webkit-background-size: 80px;
	background-size: 80px;
	-ms-background-position-x: -47px;
	background-position-x: -47px;
}

.judge .jud-sym div {
	position: absolute;
	left: 61px;
	bottom: 34px;
}

.judge .jud-sym .cuo {
	width: 29px;
	height: 30px;
	background: url('../img/icon/font_cuo1.png') center no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}

.judge .jud-sym .dui {
	width: 34px;
	height: 34px;
	background: url('../img/icon/font_dui1.png') center no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
}


.judge .bg-cuo span , .judge .bg-dui span {
	-ms-background-position-x: 0px;
	background-position-x: 0px;
}

.judge .ui-state-disabled{
	opacity: 1;
}


.allsym .ui-state-disabled{
	opacity: 1;
}

.judge .jud-md:nth-child(2n){
	padding-left: 43px;
}


.allsym {
	width: 100%;
	text-align: center;
	margin-bottom: 50px;
}

.allsym  li {
	display: inline-block;
	width: 105px;
	height: 62px;
	background: #1d9ea8;
	border-radius: 5px;
	margin: 0 12px 15px;
	cursor: pointer;
}

.allsym  .li1 {
	background: #127880;
}

.allsym  li span {
	background-image: url(../img/icon/bol.png);
	background-repeat: no-repeat;
	display: block;
	height: 62px;
	width: 50px;
	margin: 0 auto;
}

.allsym  li:nth-child(1) span{
	background-position: 9px 10px;
}

.allsym  li:nth-child(2) span{
	background-position: 8px -50px;
}

.allsym  li:nth-child(3) span{
	background-position: 5px -110px;
}

.allsym li:nth-child(4) span{
	background-position: 4px -168px;
}

.allsym li:nth-child(5) span{
	background-position: 6px -228px;
}

.allsym li:nth-child(6) span{
	background-position: 5px -288px;
}

.mask{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	display: none;
}
.img-show{
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: fit-content;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	display: none;
	max-width: 600px;
	text-align: center;
}
.img-show img{

}


.preview .scale {
	 -ms-transform: scale(0.8); /* IE 9 */
    -webkit-transform: scale(0.8); /* Safari */
    transform: scale(0.8);
    opacity: 0.8;
}

.preview .shad {
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.4)!important;
}

.floor {
	text-align: right;
    position: absolute;
    right: 6rem;
    bottom: 4rem;
}

.floor div {
    display: none;
    margin:0 8px;
    width: 52px;
    height: 52px;
    cursor: pointer;
    background: #fff center center no-repeat;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0,0,0,0.35);
}

.floor .submit {
	background-image: url('../img/icon/submit.png');
}

.floor .check {
	background-image: url('../img/icon/check.png');
}

.floor .show-answer {
	background-image: url('../img/icon/answer.png');
}

.floor .reset {
	background-image: url('../img/icon/reset.png');
}

.floor .submit:active , .floor .check:active ,.floor .show-answer:active, .floor .reset:active {
	background-color: #4281df;
}

.floor .submit:active {
	background-image: url('../img/icon/submit-active.png');
}

.floor .check:active {
	background-image: url('../img/icon/check-active.png');
}

.floor .show-answer:active {
	background-image: url('../img/icon/answer-active.png');
}

.floor .reset:active {
	background-image: url('../img/icon/reset-active.png');
}

.floor .check.bg-cuo, .floor .check.bg-dui {
	background-image: url('../img/icon/check-active.png');
}

.floor .show-answer.bg-cuo {
	background-image: url('../img/icon/answer-active.png');
}

.floor .bg-cuo {
	background-color: #f36565;
}

.floor .bg-dui {
	background-color: #3cc452;
}

.info-right .ui-state-disabled {
    opacity: 1;
}


@media screen and (max-width: 1024px) {
	#all, body{
		width: 1024px;
	}
}

@media screen and (min-width: 1367px) {
	#all {
		width: 1366px;
	}
}


