body {
	background: url(../img/theme2/main.jpg) center no-repeat;
}

.main .title {
    background: #0D889A;
}

.left .tables tr .td1 {
    background: #fff;
    border: 1px solid #49A4B5;
}

.left .tables tr .td-bd {
    border: 3px solid #F8BD02;
}

.right{
    background: #E5F0F2;
    border: 1px solid #3199A9;
}

.right .r-tit span {
    color: #7CB8AC;
}

.right .r-main .r-row .r-tag {
    border: 2px solid #BFDDD6;
}

.right .r-main .r-row .r-xian {
    background: #BFDDD6;
}
.left .tables tr td .fanzhuan {
    background: url('../img/icon/fanzhuan2.png') center no-repeat;
}